.metadata/.bak_0.log
.metadata/.bak_1.log
.metadata/.bak_4.log
.metadata/.ide.log
.metadata/.ide.log-2026-04-13.log
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/stm32_f4xx_Driver.1773874036267.pdom
.metadata/.plugins/org.eclipse.core.resources/7.snap
.metadata/.plugins/org.eclipse.core.resources/.history/8e/20c39237453800111f51ebef989bea16
.metadata/.plugins/org.eclipse.core.resources/.history/90/d0b9bc99443800111f51ebef989bea16
.metadata/.plugins/org.eclipse.core.resources/.history/ed/000bbe79463800111f51ebef989bea16
.metadata/.plugins/org.eclipse.core.resources/.projects/stm32_f4xx_Driver/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/stm32_f4xx_Driver/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/stm32_f4xx_Driver/.indexes/d5/be/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
.metadata/.plugins/org.eclipse.core.resources/.root/9.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
